{% extends 'side.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'main/css/car.css' %}">
{% endblock link %}

{% block header %}
    <div class="car-wrp">
        <h1 class="main-title">Двигатели</h1>

        {% for el in car%}
        <ul>
            <li style="--clr: #00c3ff;">
                <a href={{ el.brand_car|lower }} data-text="&nbsp;{{ el.brand_car }}">&nbsp;{{ el.brand_car }}&nbsp;</a>
            </li>
        </ul>

        {% endfor %}

    </div>
{% endblock header %}
