{% load static %}
{% include 'side.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>


<section class="main">
    <div class="container">
        <div class="main-info">
            <h1 class="main-title">КАТАЛОГ АВТОМОБИЛЕЙ И ДВИГАТЕЛЕЙ</h1>
            <div class="main-text">Здесь рассматриваются современные и относительно современные двигатели автомобилей, преимущественно бензиновые, но некоторая часть будет отведена под роторные, дизельные и электромоторы. Кроме общего обзора, мы рассмотрим основные проблемы, неисправности, недостатки и конструкционные просчеты моторов, а также, их ремонт, как устранить возникшую неприятность и снова получать удовольствие от ровной работы движка.
            </div>
        </div>
    </div>
</section>

</body>
</html>