{% extends 'side.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
{% endblock link %}

{% block header %}
    <section class="main">
        <div class="container">
            <div class="main-info">
                <h1 class="main-title">КАТАЛОГ ЯПОНСКИХ АВТОМОБИЛЕЙ И ДВИГАТЕЛЕЙ</h1>
                <div class="main-text">Здесь рассматриваются современные и относительно современные двигатели автомобилей, преимущественно бензиновые, но некоторая часть будет отведена под роторные, дизельные и электромоторы. Кроме общего обзора, мы рассмотрим основные проблемы, неисправности, недостатки и конструкционные просчеты моторов, а также, их ремонт, как устранить возникшую неприятность и снова получать удовольствие от ровной работы движка.
                </div>
            </div>
        </div>
    </section>
{% endblock header %}
