@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main-title {
    font-family: Impact;
    font-weight: bold;
    font-size: 50px;
    line-height: 100%;
    color: #00bb6a;
    margin-bottom: 40px;
}

.car-wrp{
    max-width: 1200px;
    margin: 50px 150px;
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    color: #ffffff;
    flex-direction: column;

}

ul{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
ul li{
    position: relative;
    list-style: none;
}
ul li a{
    position: relative;
    font-size: 30px; /* размер шрифта default = 2em */
    text-decoration: none;
    line-height: 50px; /* интервал между строчками default = 2em*/
    letter-spacing: 4px; /* интервал между буквами */
    text-transform: uppercase;
    color: transparent;
    /*-webkit-text-stroke: 2px rgba(255, 255, 255, 0.5);*/
    -webkit-text-stroke: 1px rgb(211, 211, 211);
}

ul li a::before{
    content: attr(data-text);
    position: absolute;
    color: var(--clr);
    width: 0;
    overflow: hidden;
    transition: 1s;
    border-right: 4px solid var(--clr);
    -webkit-text-stroke: 1px var(--clr);
}
ul li a:hover:before{
    width: 100%;
    filter: drop-shadow(0 0 25px var(--clr));
}
